.title-section {
    padding: 0;
    background-color: $light-gray;
    position: relative;
    height: 245px;

    .bg-image {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .link-holder {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }
}
