$primary: #4F5955;
$secondary: #F2EDDC;
$sub-clr: #D9C3A9;
$white: #FFFFFF;
$light-gray: #F7F7F7;
$dark: #0E0E0E;

$note-clr: #9C9EA6;
$base-text-clr: #535656;

$border-light: #EBEBEB;

$container-breakpoints: ( "xs": 100%, "sm": 540px, "md": 720px, "lg": 960px, "xl": 1140px, "xxl": 1320px );
