<?xml version="1.0" encoding="utf-8"?>
<Media Key="58ad56c8-94b3-44c2-b3ed-c924c9ebef5a" Alias="Company Image 1" Level="2">
  <Info>
    <Parent Key="b84972c8-7f4d-47df-93c3-54b7b160eabe">Images Onatrix</Parent>
    <Path>/ImagesOnatrix/CompanyImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T13:32:16</CreateDate>
    <NodeName Default="Company Image 1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/i4oox1w0/company1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>