<?xml version="1.0" encoding="utf-8"?>
<Media Key="c048fd17-f225-43a2-b96d-375426cb9eaa" Alias="Contact Image" Level="3">
  <Info>
    <Parent Key="9ae63968-808b-47e8-b54c-25e0611038b0">Contact Section Images</Parent>
    <Path>/ImagesOnatrix/ContactSectionImages/ContactImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T18:41:49</CreateDate>
    <NodeName Default="Contact Image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ta1b23sm/contact-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>