<?xml version="1.0" encoding="utf-8"?>
<Media Key="30dea27c-9f22-4c30-8764-42fb03b1cc05" Alias="Hero Image" Level="2">
  <Info>
    <Parent Key="b84972c8-7f4d-47df-93c3-54b7b160eabe">Images Onatrix</Parent>
    <Path>/ImagesOnatrix/HeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T12:44:52</CreateDate>
    <NodeName Default="Hero Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4nujrbsl/heroimage.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>