<?xml version="1.0" encoding="utf-8"?>
<Media Key="b84972c8-7f4d-47df-93c3-54b7b160eabe" Alias="Images Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImagesOnatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-02T18:18:33</CreateDate>
    <NodeName Default="Images Onatrix" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>