<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa0da2f5-04ff-4e83-94b1-ef2f6f8d77e3" Alias="Project Image 4" Level="3">
  <Info>
    <Parent Key="dd72d092-58d0-4f32-925c-842d8bfa36a0">Project Section Images</Parent>
    <Path>/ImagesOnatrix/ProjectSectionImages/ProjectImage4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T09:55:26</CreateDate>
    <NodeName Default="Project Image 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pjuewtew/project4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>