<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd7f933b-b4e3-41ac-9f5a-e127379f9339" Alias="Project Image 1" Level="3">
  <Info>
    <Parent Key="dd72d092-58d0-4f32-925c-842d8bfa36a0">Project Section Images</Parent>
    <Path>/ImagesOnatrix/ProjectSectionImages/ProjectImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T09:54:55</CreateDate>
    <NodeName Default="Project Image 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wrmdsc2k/project1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>