<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d15550a-f705-4d1b-af74-51962e0dc897" Alias="Reviews Star Rating" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/ReviewsStarRating</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:51:14</CreateDate>
    <NodeName Default="Reviews Star Rating" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qwpfh01m/star-rating-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>