<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc47eff2-1a92-4c84-b6c3-bf1fc903f55d" Alias="Service Image 2" Level="2">
  <Info>
    <Parent Key="b84972c8-7f4d-47df-93c3-54b7b160eabe">Images Onatrix</Parent>
    <Path>/ImagesOnatrix/ServiceImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:45:08</CreateDate>
    <NodeName Default="Service Image 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pusbcsx1/service2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>