<?xml version="1.0" encoding="utf-8"?>
<Media Key="98e1e0b6-f04a-4f03-974b-e71aabcc1ba5" Alias="Service Image 6" Level="2">
  <Info>
    <Parent Key="b84972c8-7f4d-47df-93c3-54b7b160eabe">Images Onatrix</Parent>
    <Path>/ImagesOnatrix/ServiceImage6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T09:46:49</CreateDate>
    <NodeName Default="Service Image 6" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hevkolrd/service6.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>