<?xml version="1.0" encoding="utf-8"?>
<Media Key="74a76990-47ba-4636-922b-85d5d95a24dc" Alias="Team Member  5" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TeamMember5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:58:05</CreateDate>
    <NodeName Default="Team Member  5" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/d4rpdqwt/team5.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>