<?xml version="1.0" encoding="utf-8"?>
<Media Key="89728c07-b3c1-44c3-af43-2e2a2f1a7e0f" Alias="Team Member 4" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TeamMember4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:57:45</CreateDate>
    <NodeName Default="Team Member 4" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rbddip3i/team4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>