<?xml version="1.0" encoding="utf-8"?>
<Media Key="cca1be70-4f39-4c4a-af60-feb2e138e555" Alias="Team Member 6" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TeamMember6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:58:20</CreateDate>
    <NodeName Default="Team Member 6" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/530oo4sq/team6.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>