<?xml version="1.0" encoding="utf-8"?>
<Media Key="fce7b056-4869-4163-82ef-74d16a041ce2" Alias="Team Member 7" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TeamMember7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:59:05</CreateDate>
    <NodeName Default="Team Member 7" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1f3kcsqa/team7.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>