<?xml version="1.0" encoding="utf-8"?>
<Media Key="495332c6-e37e-4ca3-aa0c-a9fd0c50dde5" Alias="Team Member 2" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TeamMember2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:57:15</CreateDate>
    <NodeName Default="Team Member 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jh2bl5yx/team2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>