<?xml version="1.0" encoding="utf-8"?>
<Media Key="55fc228d-b76a-4f5b-b99a-d142916695b0" Alias="Tina Fox CEO" Level="3">
  <Info>
    <Parent Key="5b90538e-1410-44b6-8b22-f01d88126fde">About Us Media</Parent>
    <Path>/ImagesOnatrix/AboutUsMedia/TinaFoxCEO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T14:35:55</CreateDate>
    <NodeName Default="Tina Fox CEO" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/alulvyyd/tinafoxceo.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>