@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@{

}

<section class="contact-section">
        <div class="container">
            <div class="container-left">
                <img class="bg-image" src="/media/hphoslxo/contact-component.svg" alt="">
                <img class="contact-image" src="/media/ta1b23sm/contact-image.svg" alt="">
            </div>

            <div class="container-right">
                <div class="content-holder">
                    <h2>Let us know about your next project</h2>
                    <div class="wrapper">
                        <i class="fa-regular fa-location-dot"></i>
                        <div>
                            <p class="text-sub-title4">Office Location</p>
                            <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <i class="fa-sharp fa-regular fa-phone phone-icon"></i>
                        <div>
                            <p class="text-sub-title4">Phone Number</p>
                            <p class="number">+46 8 123 456 75</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <i class="fa-regular fa-envelope"></i>
                        <div>
                            <p class="text-sub-title4">E-mail address</p>
                            <p class="email">sales@onatrix.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>