<header>
    <div id="top" class="container">
        <div><p>Klarabergsviadukten 90, 111 64 Stockholm</p></div>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="bottom-holder">
        <div id="bot" class="container">
            <img src="/media/0mff4gpb/brand.svg" alt="">
            <nav>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="">Services</a>
                <a class="nav-link" href="">Projects</a>
                <a class="nav-link" href="">Contact</a>
            </nav>
            <div>
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
</header>