<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0567f587-f5bd-4270-b7ea-60dd2921d0f4" Alias="About Page - Team Section - Team Card Names" Level="1">
  <Info>
    <Name>About Page - Team Section - Team Card Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>