<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93ef024c-46b6-4879-83ff-50182f2c1e70" Alias="About Page - Story Section - Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>About Page - Story Section - Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 0
}]]></Config>
</DataType>