<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c79c50b-bf44-434e-9bcd-1c620274219c" Alias="About Page - Team Section - Team Card Roles" Level="1">
  <Info>
    <Name>About Page - Team Section - Team Card Roles</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>