<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b919def-c5a4-4552-a410-23488addcbbe" Alias="About Page - Story Section - Text - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Page - Story Section - Text - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>