<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a12c1b7d-aae1-4813-9bd7-77e3a2b95f39" Alias="Card Block List" Level="1">
  <Info>
    <Name>Card Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cba993f6-dd11-4703-bcf5-9fbc20e72ed1"
    }
  ]
}]]></Config>
</DataType>