<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f89b9d18-a5cc-47e3-a25d-fb3927cbff2f" Alias="Header -  Multiple Text String Property" Level="1">
  <Info>
    <Name>Header -  Multiple Text String Property</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>