<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41008e01-56cc-49e3-8bbe-9b6d1b8213cb" Alias="Home Page - Success Story - Numbers" Level="1">
  <Info>
    <Name>Home Page - Success Story - Numbers</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>