<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7ae0cb6-cc20-4b14-8695-514d4c75022b" Alias="Home Page - Card Titles" Level="1">
  <Info>
    <Name>Home Page - Card Titles</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>