<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66d8447b-e2d2-4712-9bc6-ef02f915cb49" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "8bde2092-af15-44e5-bae2-c18a22afd07d",
      "name": "Containers"
    },
    {
      "key": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "name": "Headings \u0026 Text"
    },
    {
      "name": "Media Elements",
      "key": "44b71c96-a025-494f-ba2d-9b14be527c18"
    },
    {
      "name": "Component Elements",
      "key": "d5947b88-0fa3-4f0c-9471-733a55b12715"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "c760d29b-6bb4-45f9-9837-73f8cc0659d8",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f9421707-4ee1-4bcd-b888-e7be8202b464",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f578aabc-763a-442d-9570-1a9d74d4ce38",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "07df5c54-2c31-4df3-927b-037e06da128c",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3062341f-f977-4c23-9ce9-7a5575eed656",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fbb7f6ba-ab03-4ad9-80c6-92628f120de7",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9c524d88-f7bd-47da-909a-e1f92bd43b1c",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "261b56d6-7ec1-4995-9776-9a315da02cbe",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "01b3e3fb-fcac-4ec1-9a32-ac65f88ce996",
      "allowAtRoot": false,
      "groupKey": "44b71c96-a025-494f-ba2d-9b14be527c18",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "329f4824-2d30-422b-a21b-ce72b5860d46",
      "allowAtRoot": false,
      "groupKey": "1e7ea9a6-2f7f-4c54-a627-8aa13883270d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "98b8fa03-e921-4fb4-8ed9-aca3bcdcea46",
      "allowAtRoot": false,
      "groupKey": "d5947b88-0fa3-4f0c-9471-733a55b12715",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ab193f07-2d9d-4baa-8de9-e0241dbc350f",
      "allowAtRoot": false,
      "groupKey": "d5947b88-0fa3-4f0c-9471-733a55b12715",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "7ace71f0-5767-4fb5-b707-0c047f9d4f1e",
      "allowAtRoot": false,
      "groupKey": "d5947b88-0fa3-4f0c-9471-733a55b12715",
      "allowInAreas": true,
      "areas": [],
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "e6318a29-19c3-4f07-b79a-fda759d6c891",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "6a7c1a73-66f6-4076-929b-55e02b3c2347",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "8bde2092-af15-44e5-bae2-c18a22afd07d",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "2043d8bd-8a6a-4f36-a628-d002f2558af4",
      "allowAtRoot": true,
      "groupKey": "8bde2092-af15-44e5-bae2-c18a22afd07d",
      "areas": [
        {
          "key": "e5336c2e-2a61-446b-8428-c97ff07e9b86",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "438c6644-0719-4f74-9d0d-4f380e1842e5",
      "allowAtRoot": false,
      "groupKey": "8bde2092-af15-44e5-bae2-c18a22afd07d",
      "allowInAreas": true,
      "areas": [
        {
          "key": "de342b56-b728-48ba-8369-e30c66ba4d36",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 1
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>