<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42010fcb-6ed7-4da1-b9d9-7f6cfa71b5a5" Alias="Project Card Block List" Level="1">
  <Info>
    <Name>Project Card Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ca72493a-9108-4ff9-bb52-4270c482bf0e"
    }
  ]
}]]></Config>
</DataType>