<?xml version="1.0" encoding="utf-8"?>
<DataType Key="665070ce-b71c-45d1-ba17-b5ca1e2a5e27" Alias="Projects Page - Project Section - Tags" Level="1">
  <Info>
    <Name>Projects Page - Project Section - Tags</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>