<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f797b798-821d-48d8-a722-ee505d9da324" Alias="Project Item Template - Project Content Section - Tags" Level="1">
  <Info>
    <Name>Project Item Template - Project Content Section - Tags</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>