<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fdf35ae-3f25-4ee6-8f07-ee613c746f20" Alias="Section - Section Background Colors" Level="1">
  <Info>
    <Name>Section - Section Background Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F7F7F7",
      "label": "Light Gray"
    },
    {
      "value": "FFFFFF",
      "label": "White"
    }
  ],
  "useLabel": false
}]]></Config>
</DataType>