<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d404aed3-b823-40ce-975f-799b911d4f44" Alias="Service Card Block List" Level="1">
  <Info>
    <Name>Service Card Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c7e51e09-92b7-4b09-9ebc-2a154902d8bd"
    }
  ],
  "useSingleBlockMode": false
}]]></Config>
</DataType>