<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c10e044-a42c-43b0-af24-064b5b3c0712" Alias="Shared Sections - Our Services - Card Titles" Level="1">
  <Info>
    <Name>Shared Sections - Our Services - Card Titles</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>