<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f55a9863-0629-45d8-b3be-a808ec8a9d36" Alias="Shared Sections - Our Services - Label Toggle - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Shared Sections - Our Services - Label Toggle - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>