<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f0872e5-7215-4afd-b7fc-15844d18b65e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a340735f-25f2-4b16-9d58-72c4c1d4b0a0">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-11T11:39:43</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24bc58ad-61a4-44f7-9f92-62481e65e142">contactPage</Template>
  </Info>
  <Properties>
    <contactSectionBackgroundColor>
      <Value><![CDATA[{
  "label": "White",
  "value": "#FFFFFF"
}]]></Value>
    </contactSectionBackgroundColor>
    <mapSectionCompanyImages>
      <Value><![CDATA[[
  {
    "key": "7b9c03de-9adc-4615-9bab-a716a3bef7f1",
    "mediaKey": "58ad56c8-94b3-44c2-b3ed-c924c9ebef5a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a8a6188b-3d5b-4e2e-8b39-c22cad89df75",
    "mediaKey": "fe43f4f3-0998-481b-bb39-c3e9820f55b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b168bdc7-9f39-453a-9a41-f65ddf25a304",
    "mediaKey": "dfa5ff00-3277-49bb-8881-3476b6c1e2ac",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8be86383-81cd-4e8c-8055-5211a96dbdfe",
    "mediaKey": "e49d5b08-3585-481c-8dc1-8f99e012ba1c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d536445d-bf0d-4837-a635-06a8eb03ebe3",
    "mediaKey": "979ec0bc-ef2b-4f5f-92d4-0bbed1d2de9c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8d4d50ba-9a61-4018-b98a-0fb3225ab413",
    "mediaKey": "7200e168-c3c3-4187-9464-3e62c4ef3ff8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mapSectionCompanyImages>
    <mapSectionContactFormButtonText>
      <Value><![CDATA[Submit]]></Value>
    </mapSectionContactFormButtonText>
    <mapSectionContactFormLabel>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </mapSectionContactFormLabel>
    <mapSectionContactFormText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </mapSectionContactFormText>
    <mapSectionContactFormTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </mapSectionContactFormTitle>
    <titleSectionBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "c5de0068-6ff9-4bfa-b3ec-39707256b075",
    "mediaKey": "2db84ee7-c34f-4018-a0d5-a5c0ca51a692",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </titleSectionBackgroundImage>
    <titleSectionLinkText>
      <Value><![CDATA[Contact]]></Value>
    </titleSectionLinkText>
    <titleSectionLinkUrl>
      <Value><![CDATA[/contact]]></Value>
    </titleSectionLinkUrl>
    <titleSectionTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </titleSectionTitle>
  </Properties>
</Content>