<?xml version="1.0" encoding="utf-8"?>
<Content Key="9427bf70-3fca-4890-b5fd-8578a84a5351" Alias="Projects" Level="2">
  <Info>
    <Parent Key="a340735f-25f2-4b16-9d58-72c4c1d4b0a0">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-11T09:53:20</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fd23f5c-0262-4a92-ab73-65d087f0a0f2">projectsPage</Template>
  </Info>
  <Properties>
    <contactSectionBackgroundColor>
      <Value><![CDATA[{
  "label": "Light Gray",
  "value": "#F7F7F7"
}]]></Value>
    </contactSectionBackgroundColor>
    <projectSectionCardCalendarIcon>
      <Value><![CDATA[fa-duotone fa-solid fa-calendar-days]]></Value>
    </projectSectionCardCalendarIcon>
    <projectSectionCardContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ca72493a-9108-4ff9-bb52-4270c482bf0e",
      "udi": "umb://element/874f7a5a0b38462ca9ae937b21e79a09",
      "projectCardImage": "[{\u0022key\u0022:\u00228a4d1ae1-3a32-4bbd-aafb-e74c5ab02bad\u0022,\u0022mediaKey\u0022:\u0022bd7f933b-b4e3-41ac-9f5a-e127379f9339\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectCardTitle": "Annual Report for Juva Inc.",
      "projectCardDate": "June 15, 2024",
      "projectCardLinkUrl": "/projects/juva-inc"
    },
    {
      "contentTypeKey": "ca72493a-9108-4ff9-bb52-4270c482bf0e",
      "udi": "umb://element/bec50631c72642deb3913cd3836acef8",
      "projectCardImage": "[{\u0022key\u0022:\u002262ccacc4-f68d-4a28-ac5e-7a15904bcbf7\u0022,\u0022mediaKey\u0022:\u00228d46c367-0916-4953-bb64-f24a90571c84\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectCardTitle": "Business Insights for SP Group...",
      "projectCardDate": "May 17, 2024",
      "projectCardLinkUrl": "/projects/sp-group"
    },
    {
      "contentTypeKey": "ca72493a-9108-4ff9-bb52-4270c482bf0e",
      "udi": "umb://element/93bd058571474919b2d13d73991e8f8b",
      "projectCardImage": "[{\u0022key\u0022:\u00227ed2d88d-ed25-49e8-a6ea-6af45f0f59c0\u0022,\u0022mediaKey\u0022:\u002208131202-fb64-4858-84ea-6d946f4727f2\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectCardTitle": "Financial Advisors for Irra Grou...",
      "projectCardDate": "February 6, 2024",
      "projectCardLinkUrl": "/projects/irra-group"
    },
    {
      "contentTypeKey": "ca72493a-9108-4ff9-bb52-4270c482bf0e",
      "udi": "umb://element/ade5744462ce452c91c68009af6e2e3e",
      "projectCardImage": "[{\u0022key\u0022:\u0022a7cb338f-94e6-4623-a29b-76329007ac78\u0022,\u0022mediaKey\u0022:\u0022fa0da2f5-04ff-4e83-94b1-ef2f6f8d77e3\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "projectCardTitle": "Budget Planning for Buccura In...",
      "projectCardDate": "January 3, 2024",
      "projectCardLinkUrl": "/projects/buccura-inc"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/874f7a5a0b38462ca9ae937b21e79a09",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/bec50631c72642deb3913cd3836acef8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/93bd058571474919b2d13d73991e8f8b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ade5744462ce452c91c68009af6e2e3e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectSectionCardContent>
    <projectSectionCardLinkArrow>
      <Value><![CDATA[fa-regular fa-arrow-right]]></Value>
    </projectSectionCardLinkArrow>
    <projectSectionCardLinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectSectionCardLinkText>
    <projectSectionCardText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectSectionCardText>
    <projectSectionPaginationImage>
      <Value><![CDATA[[
  {
    "key": "27300a41-1966-4d91-bf6d-9e16067a3b62",
    "mediaKey": "7e9ca3c9-17e7-404b-a241-2780a8c97fe8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectSectionPaginationImage>
    <projectSectionSupportBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "04aea366-8b25-4ea3-aef2-691cb3065ceb",
    "mediaKey": "b4054ae3-f5d3-42d3-abcd-f9e3fafd6793",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectSectionSupportBackgroundImage>
    <projectSectionSupportInputIcon>
      <Value><![CDATA[fa-light fa-envelope]]></Value>
    </projectSectionSupportInputIcon>
    <projectSectionSupportInputPlaceholder>
      <Value><![CDATA[Email address]]></Value>
    </projectSectionSupportInputPlaceholder>
    <projectSectionSupportText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </projectSectionSupportText>
    <projectSectionSupportTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </projectSectionSupportTitle>
    <projectSectionTags>
      <Value><![CDATA[Report
Business plans
Insights
Business
App
Project
Finance
Pricing]]></Value>
    </projectSectionTags>
    <projectSectionTagTitle>
      <Value><![CDATA[Tags]]></Value>
    </projectSectionTagTitle>
    <titleSectionBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "4685e512-4adf-4fe0-b16c-1e5e9ba1dffc",
    "mediaKey": "2db84ee7-c34f-4018-a0d5-a5c0ca51a692",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </titleSectionBackgroundImage>
    <titleSectionLinkText>
      <Value><![CDATA[Projects]]></Value>
    </titleSectionLinkText>
    <titleSectionLinkUrl>
      <Value><![CDATA[/projects]]></Value>
    </titleSectionLinkUrl>
    <titleSectionTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </titleSectionTitle>
  </Properties>
</Content>