@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var labelContent = Model?.Content.Value<string>("labelContent");
    var titleContent = Model?.Content.Value<string>("titleContent");
}

<div>
    <h6 class="text-label">@labelContent</h6>
    <h2>@titleContent</h2>
</div>