input, textarea, select {
    width: 100%;
    font-family: $font-poppins;
    font-size: 13px;
    border: 1px solid $border-light;
    color: $primary;
    padding: 0.8rem 0 0.8rem 0.8rem;
    border-radius: 3px;
    resize: none;

    &::placeholder {
        color: $note-clr;
        font-style: italic;
    }
}

form {
    span {
        font-family: $font-poppins;
        font-size: 10px;
        font-weight: 500;
        color: #E32626;
        text-align: start;
    }
}

.input-error {
    border: 1px solid #E32626
}

.input-valid {
    border: 1px solid rgb(30, 196, 33);
}
