.hero-section {
    position: relative;
    height: 552px;
    padding: 0;

    .hero-image {
        position: absolute;
    }

    .container {
        position: relative;
        z-index: 2;
        height: 100%;
        display: grid;
    }

    .content-holder {
        width: 45%;
        display: grid;
        gap: 2rem;
        align-self: center;

        button {
            width: 30%;
        }
    }
}
