.our-services-section {

    .container {
        display: grid;
        place-items: center;
    }

    .title-holder {
        width: 50%;
        text-align: center;
    }

    .grid-3col {
        margin-top: 3rem;
    }
}
