.recent-projects-section {
    padding-top: 10rem;

    .carousel {
        display: flex;
        margin-top: 2rem;
    }

    .wrapper {
        display: flex;
        gap: 5rem;
        justify-content: center;
        margin-top: 5rem;
    }
}
